@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root 
{
  --primary-color: #000000;
  --primary-text: #ffffff;
}

body 
{
  /* font-family: 'Roboto', sans-serif;
  font-family: 'Bilbo', cursive; */
  color: var(--primary-text);
}